{% include "header.html" %}



  
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  
  <main class="px-3 mb-6 text-center">
    <h1>Extract Your Personal Design!</h1>
    <p class="text-body-emphasis">here In Colour Palette we offer you the best tool to extract the top 10 most common colours in that image 
      , according to an accurate and global standards, Enjoy Use them in your designing journey!</p>
      

    
    
  </main>
  
  </div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
    
  
  </body>

  <footer class="mt-10 text-white-50">
    <div class="small text-center text-muted fst-italic">Copyright &copy; Colour Palette <script>document.write(new Date().getFullYear())</script></div>
  </footer>








